/*work sans font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared styles*/
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;     
}
.text-color{
        color: #727272;
    }
.section-title{
        font-size: 45px;
        font-weight: 700;
        color: #131313;
}

/*header style starts*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
/*nav styles starts*/
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*nav styles ends*/

/*banner styles start*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/*banner styles ends*/
/*main section styles starts*/
main{
    max-width: 1440px;
    margin: 70px auto;
}
/*teams section styles starts*/
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 45px;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/*teams section styles ends*/
/*features section styles starts*/

/*features section styles ends*/